<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ docTitle }}</title>
    <link href="/css/main.css" rel="stylesheet" />
    {{#if formsCss}}
        <link href="/css/forms.css" rel="stylesheet" />
    {{/if}}
    {{#if productCss}}
        <link href="/css/products.css" rel="stylesheet" />
    {{/if}}
</head>

<body>
    <header class="main-header">
        <Nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/" class = "{{#if activeShop}} active {{/if}}" >Shop</a></li>
                <li class="main-header__item">
                    <a href="/add-product" "{{#if activeAddProduct}} active {{/if}}">Add Product</a>
                </li>
            </ul>
        </Nav>
    </header>
    {{{ body }}}
</body>

</html>