extends layouts/main-layout.pug


block style
    <link href="/css/products.css" rel="stylesheet" />
    <link href="/css/forms.css" rel="stylesheet" />

block content
    main
        form.product-form(action = "/product" , method = "POST")
            .form-control
                label(for = "title") Title
                input(type="text", name="title", id="title" )
            button(type = "submit") Submit
